img{
	max-width: 100%;
}

#header-title {
	font-weight:  bold;
	color: blue;
	font-size: 60px;
	text-align:  center;
}

#header-subtitle {
	font-style: italic;
	color: red;
	font-size: 15px;
	text-align:  center;
	border:  2px solid black;

}

#header-image{
	text-align: center;
}

.card{
	height: 300px;
	min-width: 300px;
	border:  2px solid black;
	perspective: 500px;
}

.card-holder{
	width: 300px;
	position:  relative; 
	transform-style:  preserve-3d;
	transition:  1s all;
	cursor:  pointer;
}

.card-front, .card-back{
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;

}

.card-front{
	background:  url('../images/logo-bw.png') no repeat 50% 50%;
	height:  300px;
	min-width: 300px;
}

.flip, .matched{
	transform:  rotateY(-180deg);
}

.matched{
	transform:  rotateY(520deg);
}
